{% extends "students/base.html" %}

{% load i18n %}
{% load static %}

{% block meta_title %}{% trans "Delete Group" %}{% endblock meta_title %}

{% block title %}{% trans "Delete Group" %}{% endblock title %}

{% block status_message %}

    {% if errors %}
        <div class="alert alert-warning" role="alert">
            {% trans "Please correct the following errors" %}
        </div>
  {% endif %}

{% endblock status_message %}

{% block content %}

{% if students %}

<div class="alert alert-warning">
    <p>{% trans "Not empty group could not be deleted" %}</p>
</div>

<p>{% blocktrans %}The group "{{group}}" includes next students: {% endblocktrans %}</p>
<ul>
    {% for student in students %}
    <li>{{student}}</li>
    {% endfor %}
</ul>

<form action="." method="post" enctype="multipart/form-data" role="form" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <button class="btn btn-link" type="submit" name="cancel_button">{% trans "Cancel" %}</button>
        </div>
    </div>
</form>

{% else %}

<p>{% blocktrans %}Do you really want to delete group: "{{group}}"?{% endblocktrans %}</p>

<form action="." method="post" enctype="multipart/form-data" role="form" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input class="btn btn-primary" type="submit" name="del_button" value="Видалити">
            <button class="btn btn-link" type="submit" name="cancel_button">{% trans "Cancel" %}</button>
        </div>
    </div>
</form>

{% endif %}

{% endblock content %}
