{% extends "students/base.html" %}

{% load i18n %}
{% load static %}

{% block meta_title %}{% trans "Add student" %}{% endblock meta_title %}

{% block title %}{% trans "Add student" %}{% endblock title %}

{% block content %}

<form action="." method="post" enctype="multipart/form-data" role="form" class="form-horizontal">
	{% csrf_token %}
	<div class="form-group" {% if errors.first_name %}has-errors{% endif %}>
		<label for="first_name" class="col-sm-2 control-label">{% trans "Name*" %}</label>
		<div class="col-sm-10">
			<input class="form-control" type="text" name="first_name" value="{{ request.POST.first_name }}" id="first_name" placeholder="{% trans "Enter your name" %}">
			<span class="help-block">{{ errors.first_name }}</span>
		</div>
	</div>

  <div class="form-group" {% if errors.last_name %}has-errors{% endif %}>
		<label for="last_name" class="col-sm-2 control-label">{% trans "Last name" %}*</label>
		<div class="col-sm-10">
			<input class="form-control" type="text" name="last_name" value="{{ request.POST.last_name }}" id="last_name" placeholder="{% trans "Enter your last name" %}">
			<span class="help-block">{{ errors.last_name }}</span>
		</div>
	</div>

	<div class="form-group" {% if errors.middle_name %}has-errors{% endif %}>
		<label class="col-sm-2 control-label" for="middle_name">{% trans "Patronymic" %}</label>
		<div class="col-sm-10">
			<input class="form-control" type="text" name="middle_name" value="{{ request.POST.middle_name }}" id="middle_name" placeholder="{% trans "Enter patronymic" %}"/>
			<span class="help-block">{{ errors.middle_name }}</span>
		</div>
	</div>

	<div class="form-group" {% if errors.birthday %}has-errors{% endif %}>
		<label class="col-sm-2 control-label" for="birthday">{% trans "Birthday*" %}</label>
		<div class="col-sm-10">
			<input class="dateinput" type="text" name="birthday" value="{{ request.POST.birthday }}" id="birthday" placeholder="{% trans "For example 1984-12-30" %}"/>
			<span class="help-block">{{ errors.birthday }}</span>
		</div>
	</div>

	<div class="form-group" {% if errors.photo %}has-errors{% endif %}>
		<label class="col-sm-2 control-label" for="photo">{% trans "Photo" %}</label>
		<div class="col-sm-10">
			<input class="form-control" type="file" name="photo" value="" id="photo"/>
			<span class="help-block">{{ errors.photo }}</span>
		</div>
	</div>

	<div class="form-group" {% if errors.ticket %}has-errors{% endif %}>
		<label class="col-sm-2 control-label" for="ticket">{% trans "Ticket" %}*</label>
		<div class="col-sm-10">
			<input class="form-control" type="text" name="ticket" value="{{ request.POST.ticket }}" id="ticket" placeholder="{% trans "Enter your ticket" %}"/>
			<span class="help-block">{{ errors.ticket }}</span>
		</div>
	</div>

	<div class="form-group" {% if errors.student_group %}has-errors{% endif %}>
		<label class="col-sm-2 control-label" for="student_group">{% trans "Group" %}*</label>
		<div class="col-sm-10">
			<select class="form-control" name="student_group" id="student_group">
				<option value="">{% trans "Select a group" %}</option>
				{% for group in groups %}
				<option value="{{ group.id }}" {% if group.id == request.POST.student_group|add:0 %}selected='1'{% endif %}>{{ group.title }}</option>
				{% endfor %}
			</select>
			<span class="help-block">{{ errors.student_group }}</span>
		</div>
	</div>

	<div class="form-group" {% if errors.notes %}has-errors{% endif %}>
		<label class="col-sm-2 control-label" for="notes">{% trans "Additional notes" %}</label>
		<div class="col-sm-10">
			<textarea class="form-control" name="notes" id="notes" class="form-control"></textarea>
			<span class="help-block">{{ errors.notes }}</span>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label"></label>
		<div class="col-sm-10">
			<input class="btn btn-primary" type="submit" name="add_button" value="{% trans "Add" %}">
			<button class="btn btn-link" type="submit" name="cancel_button">{% trans "Cancel" %}</button>
		</div>
	</div>

</form>

{% block status_message %}
	{% if errors %}
		<div class="alert alert-warning" role="alert">
			{% trans "Please correct the following errors" %}
		</div>
	{% endif %}
{% endblock %}

{% endblock content %}
