/* Global Styles */
h1, h2, h3, h4, h5, h6 {font-weight: bold;}

.alert {margin-top: 10px;}

#footer {
	border-top: 1px solid #dddddd;
	padding-top: 10px;
}

/* Groups Selector*/
#group-selector {
	margin-top: 30px;
}

#group-selector select {
	margin: 0;
	width: 85%;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 30px;
	line-height: 30px;
	color: #555555;
}

ul.month-navigation {
	position: relative;
	float: left;   left: 50%;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.month-navigation li {
	display: inline;
	position: relative;
	float: left;
	right: 50%;
	padding: 3px;
}

.centered th {
	text-align: center;
}

.centered td {
	text-align: center;
}

.form-student {
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
}

.form-student p {
	line-height:2em;
}

.form-button {
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #DCDCDC;
}

/* Form Styles */
textarea, select, input {
	max-width: 300px;
}

/* Journal Tabel styles */
td.day-box,
th.day-header {
	padding: 4px !important;
	vertical-align: middle !important;
	text-align: center;
}

#ajax-progress-indicator {
	display: none;
}
